@font-face {
	font-family: 'ProximaNova';
	src: url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot');
	src: url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.eot?#iefix') format("embedded-opentype"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff2') format("woff2"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.woff') format("woff"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.ttf') format("truetype"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_4_0.svg#wf') format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'ProximaNova';
	src: url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot');
	src: url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.eot?#iefix') format("embedded-opentype"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff2') format("woff2"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.woff') format("woff"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.ttf') format("truetype"),url('https://d25purrcgqtc5w.cloudfront.net/dist/fonts/proximanova/302D42_5_0.svg#wf') format("svg");
	font-weight: 700;
	font-style: normal
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

@import "../node_modules/normalize-scss/sass/normalize/import-now";
@import "common.blocks/header";

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fluid-container {
    margin: 0 215px;
}