.header {
	height: 				51vw;
	background-size: 		100% auto;
	background-repeat: 		no-repeat;
	background-position: 	0 -134px;

	&__curtain {
		width: 				100%;
		height:				100%;
		background-color: 	rgba(159,154,207, .5);
	}

	&__navbar {
		margin: 			25px 215px;
	}

	&__menuitem {
		text-transform: 	uppercase;
		color: 				#fff!important;
		font-family: 		'ProximaNova';
		font-weight: 		400;
		font-size:			20px;
	}

	&__logo {
		width: 				50px;
		height:				auto;
	}
	
	&__hero {
		margin: 			0 215px;
		text-align: 		center;

		& * {
			color: 			#fff;
		}

		& > h1 {
			text-transform: 	uppercase;
			font-family: 		'ProximaNova';
			font-weight: 		700;
			font-size:			50px;
		}
	}

	&__heroslogan {
		font-style: 			oblique;
		font-family: 			'PT Sans', sans-serif;
		font-size:				18px;
	}
}