.section-about {
	padding: 				40px 215px; 

	&__card {
		height: 			556px;
		padding:			0;
	}

	&__card-image {
		height: 100%;
		background-image: url('../../assets/section-about/DeathtoStock_Wired8.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
}